/* 8a */
.a {
  display: block;
  margin-bottom: 5px;
  width: 125px;
}
/* 8b */
.b {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}
/* 8c */
.c-img {
  width: 350px;
  display: block;
  margin: 0 auto; 
}
.c-search {
  border: none;
  padding: 15px 0 15px 20px;
  width: 800px;
  border-radius: 20px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  margin: 0 auto;
  display: block;
}
/* 8d */
.d-top {
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 5px 0;
}
.d-middle {
  display: block;
  padding: 10px 0 10px 10px;
  width: 340px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 5px 0;
}
.d-bottom {
  width: 352px;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
  background-color: rgb(0, 120, 255);
}
/* 8e */
.e {
  font-family: arial;
  font-size: 40px;
}
.e-inpt {
  display: block;
  margin: 10px 0 5px 0;
  background-color: rgb(248, 243, 247);
  border: none;
  width: 380px;
  padding: 10px 0 10px 10px;
  font-size: 17px;
}
.e-1 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 17px;
}
.e-2 {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
}